*
!Cargo.toml
!Cargo.lock
!src/
!src/**
!migrations/
!migrations/**
!ui/
!ui/package.json
!ui/package-lock.json
!ui/tsconfig.json
!ui/vite.config.ts
!ui/index.html
!ui/src/
!ui/src/**
!LICENSE
!deploy/
!deploy/Containerfile
